{% extends 'base.html.twig' %}


{% block body %}
    <h1>Autenticación recambios AUTOBUR</h1>
    <form class="form-inline" action="{{ path('recambios_check') }}" method="post">
        <div class="form-group">

            <label for="username">Usuario:</label>
            <input type="text" class="form-control" id="username exampleInputName2" name="_username" value="{{ last_username }}"
                    placeholder="Usuario..."/>

            <label for="password">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="PwHnJmQ..." />

            <input type="hidden" name="_target_path" value="account" />

            <input type="submit" name="login" class="btn btn-default"/>
        </div>
    </form>
{% endblock %}

