{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/css/portada.css') }}"
          rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div class="row contenido-app">
        <br>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="row">
                    <aside>
                        <section>
                            <h4 class="text-center">Aplicació per a la gestió de recanvis del taller AUTOBUR</h4>
                        </section>
                    </aside>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
    </div>
    <br>
{% endblock %}